<h1>Days until Christmas: {{model.daysUntilChristmas}}</h1>

{{days/days-progressbar daysUntilChristmas=model.daysUntilChristmas}}

<ul class="days__list">
  {{#each model.days as |day| }}
    <li class="days__list__item">
      {{days/days-door day=day daysUntilChristmas=model.daysUntilChristmas class="days__list__item__door"}}
      {{link-to day 'day' day}}
    </li>
  {{/each}}
</ul>

{{!-- if there were subroutes you could lead to them here: --}}
{{!--{{outlet}} --}}
